<footer class="site-footer">
  <p>Propulsé par <a href="https://github.com/jekyll/jekyll">Jekyll</a> 
  sur 
  <a href="https://gitlab.com/">Gitlab</a>
  | avec un theme <a href="https://gitlab.com/madada-team/site/">[Code source]</a> conçu par <a href="https://yulijia.net">Lijia Yu</a>  

</footer>
